/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * astounder-squared-bb:
 *   - http://typekit.com/eulas/00000000000000007735aecb
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-10-16 19:48:43 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=vyp1iqc&ht=tk&f=34214&a=131625173&app=typekit&e=css");

@font-face {
font-family:"astounder-squared-bb";
src:url("https://use.typekit.net/af/e4477d/00000000000000007735aecb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e4477d/00000000000000007735aecb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e4477d/00000000000000007735aecb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

.tk-astounder-squared-bb { font-family: "astounder-squared-bb",sans-serif; }
